extends layout/base
block content
    section.content-header
        h1
            | Hello World
            small This is a hello world page
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    | Level
            li.active Here
    section.content
        .row
            .col-xs-12
                .box
                    .box-header
                        h3.box-title Hi, Coders
                    .box-body
                        p Welcome to #{title}